{{#each this.hits}}
  <div class='photo-card'>
    <a class='photo-card_refs' href='{{largeImageURL}}'>
      <img
        class='photo-card_img'
        src='{{webformatURL}}'
        alt='{{tags}}'
        loading='lazy'
        {{! height='240' }}
      />
    </a>
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b><br />
        <span>{{likes}}</span>
      </p>
      <p class='info-item'>
        <b>Views</b><br />
        <span>{{views}}</span>
      </p>
      <p class='info-item'>
        <b>Comments</b><br />
        <span>{{comments}}</span>
      </p>
      <p class='info-item'>
        <b>Downloads</b><br />
        <span>{{downloads}}</span>
      </p>
    </div>
  </div>
{{/each}}